body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo do botão */
button {
    background-color: #ff6600; /* Laranja */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e65300; /* Laranja mais escuro no hover */
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

h1 {
    color: #333; /* Cor de texto mais escura para os cabeçalhos */
}

/* Estilizando links */
a {
    color: #ff6600; /* Laranja para links */
}

a:hover {
    color: #e65300; /* Laranja mais escura no hover */
}
